*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    


}





a {
  text-decoration: none;
}




.posts{
  max-width: 1204px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px; 
}





.post-cards{
  display: flex;
  background-color: #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
  height: 368px;



}





.post-media{
  flex: 0 0 548px; 
  position: relative;
  height: 100%;
}





.post-contents{
  display: flex;
  flex-direction: column;
  flex: 1;                          
  padding:26px 48px 89px 39px; 
}





.icon-text{
  position: absolute;
  top: 24px;
  left: 24px;
  height: 19px; 
  padding: 0 22px;
  background: #262626;
  color: #ffffff;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
}







.post-media img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}





.post-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}



.author{
  display: flex;
  align-items: baseline;
  gap: 10px;
}





.author-image{
  width: 50.77px;           
  height: 50.77px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}





.author-name,
.date{
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #BCBCBC;
}




.title{
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;     
  max-width: 543px;
  margin-bottom: 14px;
  color: #262626;
}



.description{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;     
  max-width: 569px;
  margin-bottom: 22px;
  color: #262626;
}


.readmore{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: 215px;
  height: 23px;

  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.24em;
  line-height: 1;

  color: #4CE0D7;
  margin-top: auto;
}





.readmore:hover{
  text-decoration: underline;
  font-weight: bold;
  transform: scale(1.1);

}






.readmore-arrow{
  width: 21.67px;            
  height: 13px;
  flex-shrink: 0;
}












